source https://api.nuget.org/v3/index.json

nuget Persimmon >= 2.0.1
nuget FSharp.Object.Diff >= 1.0.0
nuget Diff.Match.Patch >= 2.0.1

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Nuget.CommandLine
  nuget SourceLink.Fake
  nuget FAKE.Persimmon

  github fsharp/FAKE modules/Octokit/Octokit.fsx

