source https://api.nuget.org/v3/index.json

nuget FSharp.Core = 4.1.18
nuget Persimmon >= 3.1.1
nuget FSharp.Object.Diff >= 1.0.0
nuget Diff.Match.Patch >= 2.0.2

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Nuget.CommandLine
  nuget SourceLink.Fake
  nuget FAKE.Persimmon

  github fsharp/FAKE modules/Octokit/Octokit.fsx

